/* *{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
} */

body{

    display:flex;
    justify-content: center;
    align-items: center;
    height:90vh;
}
main,section{

    height: 200px;
    width:200px;
    color:lightcoral;
    font-size: 30px;
    border:3px solid black;
}
main{
    background-color: crimson;
    padding: 20px;
    /* box-sizing: border-box; */

}

section{
    background-color: rgb(90, 167, 167);
    padding: 20px;

}